.side .title {
    color: rgb(207, 7, 181);
    font-family: "Lobster", cursive;
    font-size: 8vw;
    margin: 0px 15vw;
    width: 70vw;
}

.side {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#left-side {
    background-color: pink;
    width: 100%; /* Start with 100% width */
    z-index: 2;
    transition: width 0.5s ease; /* Smooth transition for width changes */
}

#right-side {
    background-color: white;
    width: 100%; /* Start with 100% width */
    transition: width 0.5s ease; /* Smooth transition for width changes */
}

#left-side .title {
    color: white
}

#right-side .title {
    color: pink;
}