body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(248, 73, 102);
    font-family: Arial, sans-serif;
}

#game-area {
    position: relative;
    width: 80vw;
    height: 80vh;
    background-color: pink;
    border: 2px solid grey;
}

#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    display: none;
}

#score {
    margin-top: 20px;
    font-size: 24px;
}

#score, #misclicks {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#misclicks {
    top: 60px; /* Positioning below the timer */
}


#info {
    margin-bottom: 20px;
    background-color: #a7a7a7;
    padding: 10px;
    border-radius: 5px;
}

#info h2 {
    margin-top: 0;
    color: #333;
}

#info p {
    margin: 5px 0;
    font-size: 16px;
    color: white;
}

#info a {
    color: #c300ff;
    text-decoration: none;
}

#info a:hover {
    text-decoration: underline;
}

